# Lab | Inferential statistics - T-test & P-value
## Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
   
        In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

### Import Libraries

In [330]:
import math
import numpy as np
import pandas as pd
from scipy import stats

### Given

In [331]:
path = 'files_for_lab/machine.txt'

In [332]:
given = pd.read_csv(path, sep = '\t', header=0, encoding = "utf-16", encoding_errors='ignore', skipinitialspace=True, skip_blank_lines=True)
given

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [333]:
given.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   new_machine  10 non-null     float64
 1   old_machine  10 non-null     float64
dtypes: float64(2)
memory usage: 292.0 bytes

In [334]:
given.describe().round(2)

       new_machine  old_machine
count        10.00        10.00
mean         42.14        43.23
std           0.68         0.75
min          41.00        41.70
25%          41.80        42.80
50%          42.20        43.40
75%          42.62        43.75
max          43.20        44.10

In [335]:
t_statistic, p_value = stats.ttest_ind(given.new_machine, given.old_machine)
print("%.2f" % t_statistic,"%.4f" % p_value)

-3.40 0.0032

In [343]:
# Given
n1 = given.new_machine.count()
x1 = given.new_machine.mean()
sp1 = given.new_machine.std()

n2 = given.old_machine.count()
x2 = given.old_machine.mean()
sp2 = given.old_machine.std()

# Degrees of Freedom
dof1 = n1 - 1
dof2 = n2 - 1
dof12 = dof1 + dof2

# Manually calculate t-test statistic:
sp = np.sqrt(((dof1 * sp1 * sp1)+(dof2 * sp2 * sp2))/dof12)

ttest = (x1 - x2) / (sp * np.sqrt(1/n1 + 1/n2))
ttest.round(2)

-3.4

In [350]:
p_value = stats.t.sf(abs(t_statistic), n-1)
p_value.round(4)

0.004

> Results from manually calculating the t-test and using the stats library are the same. That said, 
> **We reject the null hypothesis.** <br>
We can say with 95% of confidence that we have enough evidence to discard the null hypothesis given alpha is less than 0.05. <br>